#Python & Venv
venv/
__pycache__/
*.py[cod]
*.log

#Environment-
.env
.env.local

#Database
*.db
*.sqlite3

#IDE 
.vscode/
.idea/

#Frontend (Node/React)
node_modules/
dist/
build/
npm-debug.log
yarn-error.log
.DS_Store

#Visual Paradigm
*.bak
*.vpp.bak
*.vbk
*bak_*
*.lck
.lck
id.txt
vp.log